footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2em 0;
    gap: 15px;
    margin-top: 200px;

    background: $color-blue-gradient;

    a {
        color: $color-white;
    }
    a:hover,
    a:focus {
        color: $color-white;
        text-decoration: underline;
    }
}

.language-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    div {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    img {
        width: 30px;
    }
}