@import "./navbar";

#header-banner {
    min-height: 100vh;
    width: 100%;
    background-image: url("/develop/assets/image/banner-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: $color-white;
    
    @media(max-width: 1111px) {
        background-position: right center;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        left: 10%;
        top: 35%;
        width: 800px;
        max-width: 95%;
        align-items: center;
        

        @media(max-width: 1111px) {
            left: 30px;
            align-self: center;
        }
        @media(max-width: 900px) {
            width: 80%;
        }

        .banner-text {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 30px;
            align-items: center;

            @media(max-width: 1111px) {
                width: 80%;
            }
            @media(max-width: 768px) {
                width: 90%;
            }
        }
        
        
    }
    .language-select {
        @media(min-width: 991px) {
            display: none;
        }
        padding-bottom: 2em;
    }
}