@import "./navbar";

.header-banner {
    height: 95vh;
    width: 100%;
    background-image: url("../../../../assets/image/banner-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    .banner-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: absolute;
        left: 10%;
        top: 30%;
        width: 800px;
        max-width: 90%;
        align-items: center;

        @media(max-width: 1111px) {
            left: 30px;
            align-self: center;
        }

        p {
            width: 80%;
        }
        
        a {
            
        }
    }

}