.custom-nav {
    display: flex;
    
    gap: 100px;
    padding: 0!important;
    padding-top: 50px!important;
    padding-bottom: 10px!important;
    align-items: center;
    width: 100%;
    position: relative;
    transition: $common-transition;
    z-index: 1;
    @media(max-width:991px) {
        background: $color-abyss-blue;
        
    }

    .container-fluid {
        width: 100%!important;
        padding: 0!important;
    }
    .navbar-brand {
        color: $color-white;
        margin-right: 90px;
        margin-left: 30px;
        @media(max-width: 991px) {
            margin-right: 0;
        }
    }

    .navbar-nav {
        list-style-type: none;
        gap: 50px;

        @media (min-width: 1110px) {
            gap: 90px;
        }

        @media(max-width: 991px) {
            
            justify-content: space-evenly;
            align-items: baseline;
            padding-top: 10px;
            padding-bottom: 20px;
            gap: 20px!important;
            height: 40vh;
        }

        
        
        a {
            transition: $common-transition;
            color: $color-white;
            
        }
        a:hover {
            color: $color-medium-blue;
        }
        .active {
            color: $color-medium-blue!important;
        }
    }

    .navbar-toggler {
        margin-right: 30px;
    }

    @media(max-width:1024px) {

        justify-content: space-between;
        gap: 0;
        
    }

    .collapse,.collapsing {
        padding-left: 30px!important;
        box-shadow: $common-shadow;
    }

    
    
}

.scrolling-nav {
    background: $color-abyss-blue;
    position: fixed;
    z-index: 2;
    padding-top: 25px!important;
    padding-bottom: 10px!important;
    transition: $common-transition ease;
    margin-top: 0;
    
    
    .show {
        background: $color-abyss-blue;
        
    }
}

// Bootstrap overrides

.navbar-toggler, .navbar-toggler:focus {
    border: none!important;
    box-shadow: none;
}

.navbar-dark .navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 251, 255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }