nav {
    display: flex;
    height: 130px;
    gap: 100px;
    padding: 0 30px 0 30px!important;
    align-items: center;
    width: 100%;
    .navbar-brand {
        color: $color-white;
    }

    .nav-links {
        list-style-type: none;
        display: flex;
        gap: 90px;
        
        a {
            transition: $common-transition;
            color: $color-white;
            
        }
        a:hover {
            color: $color-medium-blue;
        }
        .active {
            color: $color-medium-blue!important;
        }
    }

    .nav-toggle {
        display: none;
    }

    @media(max-width:1024px) {

        justify-content: space-between;
        gap: 0;
        padding: 15px!important;
        .nav-links {
            display: none;
        }

        .nav-toggle {
            display: block;
        }
    }
}