nav {
    display: flex;
    height: 130px;
    gap: 100px;
    padding: 0 30px 0 30px;
    align-items: center;
    width: 100%;

    .nav-links {
        list-style-type: none;
        display: flex;
        gap: 90px;
    }

    .nav-toggle {
        display: none;
    }

    @media(max-width:1024px) {

        justify-content: space-between;
        gap: 0;
        padding-right: 15px;
        .nav-links {
            display: none;
        }

        .nav-toggle {
            display: block;
        }
    }
}