/*******
* Colour variables
*******/

//Brand colours

$color-deep-blue: #111120;
$color-white: #fbfbff;

$color-medium-blue: #197aae;
$color-dark-blue: #0c4869;

$color-blue-gradient: linear-gradient(#062435, #0c4869);

// System colours

$color-orange: #FE5F00;
$color-yellow:  #FFE900;
$color-red: #B1060F;