/*******
* Colour variables
*******/
/*******
* Other Variables
******/
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.pseudo-button {
  font-size: 24px;
  font-weight: 500;
}

nav .navbar-brand {
  font-size: 32px;
}
@media (max-width: 768px) {
  nav .navbar-brand {
    font-size: 24px;
  }
}
nav a {
  color: #fbfbff;
}
nav a.active {
  color: #197aae;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #111120;
  color: #fbfbff;
}

.pseudo-button {
  background: linear-gradient(#0C4869, 80%, #111120);
  padding: 12.5px 20px;
  width: fit-content;
  border-radius: 0.4rem;
  border: 1px solid #0C4869;
  transition: 0.5s;
  color: #fbfbff;
}

.pseudo-button:hover {
  border-color: #fbfbff;
  color: #fbfbff;
}

.discrete-button {
  width: fit-content !important;
  background: none !important;
  border: none !important;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: #fbfbff;
}

.blue-text {
  color: #197aae;
}

.divider {
  background: linear-gradient(#0C4869, 80%, #111120);
  width: 75%;
  height: 5px;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 2.5px;
  box-shadow: 3px 3px 3px #000;
}
@media (max-width: 425px) {
  .divider {
    width: 85%;
  }
}

.large-divider {
  width: 90%;
  height: 10px;
  margin-top: -5px;
  z-index: 1;
}

nav {
  display: flex;
  height: 130px;
  gap: 100px;
  padding: 0 30px 0 30px !important;
  align-items: center;
  width: 100%;
  position: absolute;
}
nav .navbar-brand {
  color: #fbfbff;
  margin-right: 90px;
}
@media (max-width: 991px) {
  nav .navbar-brand {
    margin-right: 0;
  }
}
nav .navbar-nav {
  list-style-type: none;
  gap: 5px;
}
@media (min-width: 991px) {
  nav .navbar-nav {
    gap: 90px;
  }
}
nav .navbar-nav a {
  transition: 0.5s;
  color: #fbfbff;
}
nav .navbar-nav a:hover {
  color: #197aae;
}
nav .navbar-nav .active {
  color: #197aae !important;
}
nav .nav-toggle {
  display: none;
}
@media (max-width: 1024px) {
  nav {
    justify-content: space-between;
    gap: 0;
    padding: 15px !important;
  }
  nav .nav-links {
    display: none;
  }
  nav .nav-toggle {
    display: block;
  }
}

.navbar-toggler, .navbar-toggler:focus {
  border: none !important;
  box-shadow: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 251, 255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#header-banner {
  height: 100vh;
  width: 100%;
  background-image: url("../../../../assets/image/banner-image-darker.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fbfbff;
}
@media (max-width: 1111px) {
  #header-banner {
    background-position: right center;
  }
}
#header-banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  left: 10%;
  top: 35%;
  width: 800px;
  max-width: 95%;
  align-items: center;
}
@media (max-width: 1111px) {
  #header-banner .banner-content {
    left: 30px;
    align-self: center;
  }
}
@media (max-width: 900px) {
  #header-banner .banner-content {
    width: 80%;
  }
}
#header-banner .banner-content .banner-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1111px) {
  #header-banner .banner-content .banner-text {
    width: 80%;
  }
}
@media (max-width: 768px) {
  #header-banner .banner-content .banner-text {
    width: 90%;
  }
}

.projects-container {
  width: 100%;
  max-width: 1300px;
  gap: 50px;
}

.project-item {
  max-width: 500px;
  width: 30%;
  position: relative;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .project-item {
    width: 45%;
  }
}
@media (max-width: 900px) {
  .project-item {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .project-item {
    width: 95%;
  }
}

.project-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 0.2rem;
}

.project-details {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  background: #111120f0;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  transition: 0.5s;
  padding: 1rem;
  color: #fbfbff;
  border-radius: 0.2rem;
}
.project-details .project-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}
.project-details .project-links a {
  color: #fbfbff;
  text-decoration: underline;
}
.project-details .project-links img {
  width: 40px;
}

.project-item:hover {
  cursor: pointer;
}
.project-item:hover .project-links a {
  visibility: visible;
}

.project-item:hover .project-details {
  opacity: 1;
}

.project-item:not(:hover) .project-details {
  opacity: 0;
}

.skills-container {
  width: 45%;
  max-width: 700px;
}
@media (max-width: 1024px) {
  .skills-container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .skills-container {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .skills-container {
    width: 95%;
  }
}

.skill-item {
  justify-content: flex-end;
  padding: 1rem;
  gap: 10px;
  width: 120px;
}
.skill-item .skill-icon {
  width: 60px;
}

.contact-group {
  display: flex;
}
@media (max-width: 768px) {
  .contact-group {
    flex-direction: column;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.container .container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.language-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.language-select div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.language-select img {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
