/*******
* Colour variables
*******/
/*******
* Other Variables
******/
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

.pseudo-button {
  font-size: 24px;
  font-weight: 500;
}

nav .navbar-brand {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  nav .navbar-brand {
    font-size: 2rem;
  }
}
nav a {
  font-size: 24px;
}
nav a.active {
  color: #197aae;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111120;
  color: #fbfbff;
}

.pseudo-button {
  background: linear-gradient(#0c4869, 80%, #062435);
  padding: 12.5px 20px;
  width: fit-content;
  border-radius: 0.4rem;
  border: 1px solid #0C4869;
  transition: 0.4s;
}

.pseudo-button:hover {
  border-color: #fbfbff;
}

.blue-text {
  color: #197aae;
}

.divider {
  background: linear-gradient(#0c4869, 80%, #062435);
  width: 75%;
  height: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 2.5px;
  box-shadow: 3px 3px 3px #000;
}
@media (max-width: 425px) {
  .divider {
    width: 85%;
  }
}

.large-divider {
  width: 90%;
  height: 10px;
  margin-top: -5px;
  z-index: 1;
}

nav {
  display: flex;
  height: 130px;
  gap: 100px;
  padding: 0 30px 0 30px;
  align-items: center;
  width: 100%;
}
nav .nav-links {
  list-style-type: none;
  display: flex;
  gap: 90px;
}
nav .nav-links a {
  transition: 0.5s;
}
nav .nav-links a:hover {
  color: #197aae;
}
nav .nav-toggle {
  display: none;
}
@media (max-width: 1024px) {
  nav {
    justify-content: space-between;
    gap: 0;
    padding-right: 15px;
  }
  nav .nav-links {
    display: none;
  }
  nav .nav-toggle {
    display: block;
  }
}

#header-banner {
  height: 100vh;
  width: 100%;
  background-image: url("../../../../assets/image/banner-image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 1111px) {
  #header-banner {
    background-position: right center;
  }
}
#header-banner .banner-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  left: 10%;
  top: 35%;
  width: 800px;
  max-width: 95%;
  align-items: center;
}
@media (max-width: 1111px) {
  #header-banner .banner-content {
    left: 30px;
    align-self: center;
  }
}
@media (max-width: 900px) {
  #header-banner .banner-content {
    width: 80%;
  }
}
#header-banner .banner-content .banner-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1111px) {
  #header-banner .banner-content .banner-text {
    width: 80%;
  }
}
@media (max-width: 768px) {
  #header-banner .banner-content .banner-text {
    width: 90%;
  }
}

.projects-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.project-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-item .project-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url("../../../../assets/image/photo-journal.png");
}

.skills-container {
  width: 45%;
  max-width: 700px;
}
@media (max-width: 1024px) {
  .skills-container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .skills-container {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .skills-container {
    width: 95%;
  }
}

.skill-item {
  width: 120px;
}
.skill-item .skill-icon {
  width: 60px;
}

.contact-group {
  display: flex;
}
@media (max-width: 768px) {
  .contact-group {
    flex-direction: column;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.container .container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 10px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px #000;
}

/*# sourceMappingURL=style.css.map */
