.pseudo-button {
    background: $color-blue-gradient;
    padding: 12.5px 20px;
    width: fit-content;
    border-radius: 0.4rem;
    border: 1px solid $color-dark-blue;
    transition: $common-transition;
    color: $color-white;
}
.pseudo-button:hover {
    border-color: $color-white;
    color: $color-white;
}

.blue-text {
    color: $color-medium-blue;
}

.divider {
    background: $color-blue-gradient;
    width: 75%;
    height: 5px;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 2.5px;
    box-shadow: $common-shadow;

    @media(max-width:425px) {
        width: 85%;
    }
}

.large-divider {
    width: 90%;
    height: 10px;
    margin-top: -5px;
    z-index: 1;
}

