.projects-container {
    width: 100%;
    max-width: 1300px;
    gap: 50px;
    
}

.project-item {
    max-width: 500px;
    width: 30%;
    position: relative;
    text-decoration: none;
    
    @media(max-width: 1200px) {
        width: 45%;
    }
    @media(max-width: 900px) {
        width: 70%;
    }
    @media(max-width: 768px) {
        width: 95%;
    }
}

    .project-image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 0.2rem;
        
    }

    .project-details {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        background: $color-abyss-blue-transparent;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        transition: $common-transition ;
        padding: 1rem;
        color: $color-white;
        border-radius: 0.2rem;
        pointer-events: none;

        .project-links {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items:baseline;
            a {
                color: $color-white;
                text-decoration: underline;
            }
            img {
                width: 40px;
            }
        }
        
    }
   
.project-item:hover{
    cursor: pointer;

    .project-links{
        a {
        visibility: visible;
        }
    }
    
}

.project-item:hover .project-details {
    opacity: 1;
}
.project-item:not(:hover) .project-details {
    opacity: 0;
}