@import "./projects";
@import "./skills";
@import "./contact";
@import "./about";

section,article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-top: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    

    .container-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: none;
    }
}