.skills-container {
    width: 45%;
    max-width: 700px;
    @media(max-width: 1024px) {
        width: 70%;
    }
    @media(max-width: 768px) {
        width: 85%;
    }
    @media(max-width: 500px) {
        width: 90%;
    }
}

.skill-item {
    justify-content: flex-end;
    padding: 1rem;
    gap: 10px;
    width: 120px;
    height: 134px;
    box-shadow: $common-shadow;

    .skill-icon {
        width: 60px;
        
    }
    
    @media(max-width: 500px) {
        .skill-name {
            display: none;
        }
        .skill-icon {
            width: 55px;
            
        }

        height: 80px;
        width: 60px;
        padding: 0.5rem;
    }
}