.skills-container {
    width: 45%;
    max-width: 700px;
    @media(max-width: 1024px) {
        width: 70%;
    }
    @media(max-width: 768px) {
        width: 85%;
    }
    @media(max-width: 425px) {
        width: 95%;
    }
}

.skill-item {
    box-shadow: $common-shadow;
    width: 120px;
    .skill-icon {
        width: 60px;
    }
}