$montserrat : "Montserrat", sans-serif;


body {
    font-family: $montserrat;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    @media(max-width: 768px) {
        font-size: 32px;
    }
}

h2 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
}


.pseudo-button {
    font-size: 24px;
    font-weight: 500;
}


.custom-nav {
    .navbar-brand a {
        transition: all $common-transition ease-in-out!important;
        font-size: 40px!important;
        font-weight: 500!important;
        @media(max-width: 768px) {
            font-size: 24px!important;
        }
    } 

    a {
        color: $color-white;
        font-size: 18px!important;
    }
    // a.active {
    //     color: $color-medium-blue;
    // }
    a.brand-link, a.nav-link {
        text-decoration: underline 2px transparent;
        text-underline-offset: 10px;
    }
    a.brand-link.active, a.nav-link.active {
        text-decoration-color: $color-medium-blue;
        color: $color-white!important;
        
    }
    
    
}

.scrolling-nav .navbar-brand a {
    font-size: 24px!important;
}

.social-links {
    a {
        font-weight: 300;
        font-style: italic;
    }
}
