/*******
* Colour variables
*******/

//Brand colours

    $color-abyss-blue: #111120;
    $color-abyss-blue-transparent: #111120f0;
    $color-white: #fbfbff;

    $color-medium-blue: #197aae;
    $color-dark-blue: #0C4869;

    $color-blue-gradient: linear-gradient($color-dark-blue, 80%, $color-abyss-blue);

// System colours

    $color-orange: #FE5F00;
    $color-yellow:  #FFE900;
    $color-red: #B1060F;


/*******
* Other Variables
******/

$common-transition: 0.5s;
$common-shadow: 3px 3px 3px #000;